{
  "singleQuote": true,
  "importOrder": [
    "^rxjs(.*)$",
    "<THIRD_PARTY_MODULES>",
    "^@chrome-extension-starter/(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "importOrderCaseInsensitive": true,
  "importOrderParserPlugins": [
    "typescript",
    "jsx",
    "classProperties",
    "decorators-legacy"
  ]
}
